.mainCon  .ng-scope{
	width: 1200;
	height: 700;
}

img {
	height: 500px;
	width: 500px;
	opacity: 0;
}

.theWord {
	text-align: center;
	font-family: 'Play';
	font-size: 150px;
	margin-top: 100px;
}

.theonly{
	position: fixed;
	width: 400px;
	margin-left: 328px;
	margin-top: 350px;
}
.userGame{
	text-align: center;
	font-family: 'Play';
	font-size: 85px;
}